annotated-doc==0.0.4 ; python_version >= "3.12"
annotated-types==0.7.0 ; python_version >= "3.12"
anyio==4.13.0 ; python_version >= "3.12"
click==8.3.2 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12" and platform_system == "Windows"
fastapi==0.136.0 ; python_version >= "3.12"
h11==0.16.0 ; python_version >= "3.12"
idna==3.11 ; python_version >= "3.12"
joblib==1.5.3 ; python_version >= "3.12"
numpy==2.4.4 ; python_version >= "3.12"
pandas==3.0.2 ; python_version >= "3.12"
pathlib==1.0.1 ; python_version >= "3.12"
pydantic-core==2.46.2 ; python_version >= "3.12"
pydantic==2.13.2 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
scikit-learn==1.8.0 ; python_version >= "3.12"
scipy==1.17.1 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
starlette==1.0.0 ; python_version >= "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.12"
typing-extensions==4.15.0 ; python_version >= "3.12"
typing-inspection==0.4.2 ; python_version >= "3.12"
tzdata==2026.1 ; python_version >= "3.12" and (sys_platform == "win32" or sys_platform == "emscripten")
uvicorn==0.44.0 ; python_version >= "3.12"
